/* styles.css */

.ring {
  position: relative;
  --pointerleft: 11%;
  --pointertop: 11%;
  --pointerdeg: 45deg;
  margin-top: 5%;
  width: 50vmin;
  height: 50vmin;
  background-image: radial-gradient(red 0, red 50%, transparent 50%, transparent 100%), radial-gradient(green 0, green 50%, transparent 50%, transparent 100%), radial-gradient(white 0, white 60%, transparent 60%), conic-gradient(orange 0, green 130deg, white 130deg, white 230deg, red 230deg, orange 360deg);
  background-size: 11% 11%, 11% 11%, 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: 9.2% 82.3%, 90.8% 82.3%, center center, center center;
  border-radius: 50%;
  border-style: none;
}

h1 {
  margin-top: 5%;
  margin-left: 38%;
  font-size: 2vw;
}

div {
  margin: auto;
}

.ring::after {
  position: absolute;
  content: '';
  width: 5%;
  height: 15%;
  left: 375px;
  top: 65px;
  transform: rotate(45deg);
  border-style: solid;
  border-width: 0.5vmin;
  border-radius: 2vmin;
  background-color: white;
}

.speed {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  color: gray;
}

.speed .number {
  font-size: 6vw;
}

.speed .units {
  font-size: 3vw;
  font-style: italic;
}

/* New styles added for explanation */

.explanation {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(to bottom, #f0f0f0, #d0d0d0); /* Adjust colors as needed */
  border-radius: 10%;
  padding: 3%;
}

.explanation h2 {
  font-size: 1.8vw;
  font-family: Arial, Helvetica, sans-serif;

}

.explanation p {
  font-size: 1.2vw;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.explanation ol {
  margin-left: 2vw;
}

.explanation ol li {
  margin-bottom: 1vw;
  font-size: 1.2vw;
}
